body {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction:column;
}

#sitelead, #footer {
    background-color: #1F2957;
}

button {
    background-color: #5882F6;
    color: white;
    font-weight: 800;
    border-radius: 25px;
    border:none;
}

button > label {
    padding: 25px 15px 25px 15px;
}

#sitelead {
    color: #F9FAF8;
    display:flex;
    flex-direction: column;
}

/*Header Section*/
#header {
    display: flex;
}
#logo {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 50px;
}

#headerlinks, .desc {
 font-size: 18px;
 color: #E5E7EB;
}

/*Description Section*/

.descheader{
    font-size: 48px;
    font-weight: 1000;
}

/*Info Cards Section*/

#samples {
    display: flex;
    align-items: center;
    padding: 5% 15% 5% 15%;
    gap: 15px;
}

.bubbleheader {
    font-size: 56px;
    font-weight: 1000;
    color: #1F2957;
    text-align: center;
}

.bubblecard {
    border-radius: 25px;
    border: 5px solid #1F2957;
    height: 100px;
    width: 100px;
}

.bubbletext {
    padding-top: 10px;
    
}

/*Quotes Section*/
#quotes {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inspirationalquote {
    font-size: 56px;
    font-style: italic;
    color: #1F2957;
    padding-top: 50px;
}

.quotecredit {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 50px;
}

/*Footer*/

#footer {
    color: white;
    text-align: center;
    padding: 25px 0px 25px 0px; 
}